<html>
    <head>
        <title>FINAL YEAR PROJECT</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="\static\css\css_code.css">
        <link rel="stylesheet" href="\static\css\bootstrap.css">

        <script src="\static\js\bootstrap.js"></script>
        <script src="\static\js\bootstrap.bundle.js"></script>
        <script src="\static\js\jquery-3.6.0.js"></script>
        
    </head>
    <body>
        <!-- Navbar  -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(49, 97, 5);">
            <a class="navbar-brand" href="#">Home</a>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Current cases <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Help</a>
                <a class="nav-item nav-link" href="#">About</a>
                <a class="nav-item nav-link" href="#">Contact us</a>
                
              </div>
            </div>
        </nav>
        <br>
        <!-- Heading  -->
        <div class="container">
            <p><h1>Corona detection based on X-ray and symptoms</h1></p>
        </div>

        {% block  body %}
        
        
        {% endblock  %}

        <!--  Footer   -->
        <div class = 'container'>
            <hr>
            <footer>
                Developed for final year project on the basis of <a href="https://www.deeplearningbook.org/">Deep Learning</a>.
            </footer>
        </div>
        
    </body>
    

</html>