<html>

<head>
    <title>FINAL YEAR PROJECT</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/css_code.css">



</head>

<body>
    <!-- Navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav ml-auto">
                    <li><a class="nav-item nav-link li-item" href="#">Current Cases</a></li>
                    <li><a class="nav-item nav-link li-item" href="#">Help</a></li>
                    <li><a class="nav-item nav-link li-item" href="#">About</a></li>
                    <li><a class="nav-item nav-link li-item" href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <!-- Heading  -->
    <h2 class="text-center m-3"> COVID-19 Detection based on X-ray and symptoms </h2>

    {% block body %}


    {% endblock %}

    <!--  Footer   -->
    <hr>
    <footer>
        Developed for final year project on the basis of <a href="https://www.deeplearningbook.org/">Deep
            Learning</a>.
    </footer>


    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-3.6.0.js"></script>
</body>


</html>